// colors

$primary: #0d6aad;
$dark-grey: #09243d;
$dark-color: #242424;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$background-primary: #002fe9;
$gradient-primary: linear-gradient(2deg, #002fe9 0%, #80d0c7 100%);
